.page--issues {
  max-width: 960px;
  padding: $inuit-global-spacing-unit;
}


.issues {
  list-style: none;
}


.issues {

  li {
    margin-bottom: $inuit-global-spacing-unit * 2;
  }

}

.issue__subject {

  a {
    text-decoration: none;
  }

}
